/* Selettore universale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* common */
.container{
    border: 1px dashed black;
    /*height: 500px;*/
    width: 1200px;
    margin: 0 auto;
}

h2{
    font-size: 50px;
    padding-bottom: 50px;
}

.container > span{
    font-size: 26px;
}

.container.due{
    display: flex;
}

.container.due.bottoni{
    justify-content: space-evenly;
    width: 900px;
}

.login.apri{
    background-color: #000000;
}

.login.apri > span{
    color:#ffffff
}

.big-box{
    flex-basis: 718px;
}

.small-box{
    background-color: #F2BBC9;
    flex-basis: 476px;
    color: #000000;
}

.small-box > h2{
    color: #000000;
}

.small-box > span{
    color: #000000;
}

#small > div{
    border: 1px dotted white;
    width: 150px;
}

/* section */
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* utilities classes */
.bg-1{
    background-image: url("../img/jumbo.png");

}
.bg-white{
    background-color: #FFFFFF;
}

.bg-blue{
    background-color: #030A8C;
}

.bg-gray{
    background-color: #D3D3D3;
}

.bg-black{
    background-color: #23272A;
}

/* Nav */
.container.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.nav > #link {
    flex-basis: 718px;
    text-align: center;
}

#link > span{
    padding: 10px;
}

.login {
    text-align: right;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
}

.login > span{  
    color: #000000;
}

.login > i{
    color: #000000;
}

/* Footer Nav */

.nav-2{
    background-color: #7FFFD4;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.nav-2 > div{
    border: 1px dashed black;
    background-color: pink;
}

/* Unique */

#box-1{
    height: 400px;
    background-color: #F088F2;
    width: 900px;
}

#box-2{
    height: 900px;
    background-color: #228B22;
}

#big{
    background-color: #F08080;
    width: 50%;
    padding-bottom: 500px;
}

#small{
    display: flex;
    background-color: #20B2AA;
}

.primo{
    width: 900px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}
