/* Selettore universale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

/* common */
.container{
    border: 1px dashed #000000;
    width: 1200px;
    margin: 0 auto;
}

h2{
    font-size: 50px;
    padding-bottom: 50px;
}

.container > span{
    font-size: 26px;
}

.container.due{
    display: flex;
}

.container.due.bottoni{
    justify-content: space-evenly;
    width: 900px;
}

.login.apri{
    background-color: #000000;
}

.big-box{
    flex-basis: 718px;
}

.small-box{
    flex-basis: 476px;
    color: #000000;
}

.small-box > h2{
    color: #000000;
}

.text{
    color: #000000;
    font-size: 23px;
}

#small > div{
    border: 1px dotted white;
    width: 150px;
}

.container.ht3{
    width: 60%;
}

.container.ht3 > .txt{
    background-image: url("../img/stars.svg");
    padding-top: 20px;
}

/* section */
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* utilities classes */
.bg-1{
    background-image: url("../img/jumbo.png");

}
.bg-white{
    background-color: #FFFFFF;
}

.bg-blue{
    background-color: #030A8C;
}

.bg-gray{
    background-color: #D3D3D3;
}

.bg-black{
    background-color: #23272A;
}

.nero{
    color: #000000;
}

.bianco{
    color: #ffffff;
}

/* Nav */
.container.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.nav > #link {
    flex-basis: 718px;
    text-align: center;
}

#link > span{
    padding: 10px;
}

.login {
    text-align: right;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
}

.login.ichi{
    background-color: #7288da;
    margin: 30px auto;
    text-align: center;
    width: 25%;
}

/* Footer Nav */

.nav-2{
    background-color: #7FFFD4;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.nav-2 > div{
    border: 1px dashed black;
    background-color: pink;
}

/* Unique */

#box-1{
    height: 400px;
    background-color: #F088F2;
    width: 900px;
}

#box-2{
    height: 900px;
}


#big{
    background-color: #F08080;
    width: 40%;
    padding-bottom: 500px;
}

#small{
    display: flex;
    background-color: #20B2AA;
}

.primo{
    width: 900px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.container.quinto > div {
    text-align: center;
}

.container.quinto > div > h2{
    color: #000000;
}

h4{
    font-size: 30px;
}

h3{
    font-size: 40px;
}