/* Selettore universale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

/* common */
.container{
    width: 1200px;
    margin: 0 auto;
}

h2{
    font-size: 50px;
    padding-bottom: 50px;
}

.container > span{
    font-size: 26px;
}

.container.due{
    display: flex;
}

.container.due.bottoni{
    justify-content: space-evenly;
    width: 900px;
}

.login.apri{
    background-color: #000000;
}

.big-box{
    flex-basis: 718px;
}

.small-box{
    flex-basis: 476px;
    color: #000000;
}

.small-box > h2{
    color: #000000;
}

.text{
    color: #000000;
    font-size: 23px;
}

.container.ht3{
    width: 60%;
}

.container.ht3 > .txt{
    background-image: url("../img/stars.svg");
    background-size: cover;
    padding-top: 25px;
    background-position: 0px;
    margin-bottom: 10px;
}

/* section */
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* utilities classes */
.bg-1{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}
.bg-white{
    background-color: #FFFFFF;
}

.bg-blue{
    background-color: #030A8C;
}

.bg-gray{
    background-color: #D3D3D3;
}

.bg-black{
    background-color: #23272a;
}

.nero{
    color: #000000;
}

.bianco{
    color: #ffffff;
}

.viola{
    color: #7288da;
}

.bold{
    font-weight: bold;
}

/* Nav */
.container.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.nav > #link {
    flex-basis: 718px;
    text-align: center;
}

#link > span{
    padding: 10px;
}

.login {
    text-align: right;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
}

.login.ichi{
    background-color: #7288da;
    margin: 0px auto;
    text-align: center;
    width: 25%;
}

/* Footer Nav */

.nav-2{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #7288da;
}

/* Unique */

#box-1{
    height: 400px;
    background-color: #F088F2;
    width: 900px;
}

#big{
    width: 35%;
}

#big > div{
    padding-bottom: 15px;
}

.container > #small{
    display: flex;
}

#small > div{
    margin-left: 25px;
    width: 150px;
}

.primo{
    width: 900px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 50px;
}

.container.quinto > div {
    padding-top: 75px;
    text-align: center;
}

.container.quinto > div > h2{
    color: #000000;
}

h4{
    font-size: 30px;
}

h3{
    font-size: 40px;
}

.ita{
    width: 10%;
}

ul{
    list-style-type: none;
}

ul > li{
    display: inline-block;
    padding-bottom: 10px;
}
.pax{
    display: inline-block;
    padding-bottom: 10px;
}

#big > div > div{
    padding-top: 10px;
    display: inline-block;
    padding-right: 25px;
}

#big > div > div > i{
    font-size: 25px;
}

footer > section{
    padding-top: 25px;
}

.nav-2 > .login.ichi.bottone{
    margin: 0px;
    width: auto;
    padding: 15px;
}

.paddi{
    padding-bottom: 35px;
}

.paddo{
    padding-top: 100px;
    padding-bottom: 100px;
}